.body { 
	margin: 0; 
	padding: 0;
	min-height: 100%;
	position: relative;
}

#greeting {
	color: blue;
}

#modal__box {
	visibility: hidden;
	/* some styles to position the modal at the center of the page */
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 200px;
    margin-left: -150px;
    margin-top: -100px;
    background-color: #f1c40f;
    border: solid 1px black;
    box-shadow: 2px 2px 2px black;
  
    /* needed styles for the overlay */
    z-index: 10; /* keep on top of other elements on the page */
    outline: 9999px solid rgba(0,0,0,0.5);
}

